<div>
    <!--Banner-->
    <div class="banner">
        <div class="hero-text">
            <h1>Welcome to RecipeHub</h1>
            <h5>Connect with food lovers, exchange tips, and be inspired. Join us and let your taste buds rejoice!</h5>
            <div class="show-more-btn-holder">
                <button mat-raised-button color="primary">Get Started</button>
            </div>
        </div>
    </div>
    <!--Recipes of the week-->
    <div>
        <div class="week-recipes-catalog-hero">
            <h2 class="week-recipes-catalog-header">Latest Recipes</h2>
        </div>
        <div class="week-recipes-catalog">
            <section class="week-recipes-container">
                <div class="customer-recipe">
                    <span>
                        <mat-card class="recipe-card">
                            <img mat-card-image
                                src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                                alt="Photo of a Shiba Inu">
                            <mat-card-header>
                                <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                                <mat-card-title>Add the name of the dish</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                        <span class="notify-badge">Customer</span>
                    </span>
                </div>
                <div class="customer-recipe">
                    <span>
                        <mat-card class="recipe-card">
                            <img mat-card-image
                                src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                                alt="Photo of a Shiba Inu">
                            <mat-card-header>
                                <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                                <mat-card-title>Add the name of the dish</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </span>
                </div>
                <div class="customer-recipe">
                    <span>
                        <mat-card class="recipe-card">
                            <img mat-card-image
                                src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                                alt="Photo of a Shiba Inu">
                            <mat-card-header>
                                <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                                <mat-card-title>Add the name of the dish</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </span>
                </div>
                <div class="customer-recipe">
                    <span>
                        <mat-card class="recipe-card">
                            <img mat-card-image
                                src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                                alt="Photo of a Shiba Inu">
                            <mat-card-header>
                                <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                                <mat-card-title>Add the name of the dish</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                        <span class="notify-badge">Customer</span>
                    </span>
                </div>
                <div class="customer-recipe">
                    <span>
                        <mat-card class="recipe-card">
                            <img mat-card-image
                                src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                                alt="Photo of a Shiba Inu">
                            <mat-card-header>
                                <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                                <mat-card-title>Add the name of the dish</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </span>
                </div>
                <div class="customer-recipe">
                    <span>
                        <mat-card class="recipe-card">
                            <img mat-card-image
                                src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                                alt="Photo of a Shiba Inu">
                            <mat-card-header>
                                <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                                <mat-card-title>Add the name of the dish</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                        <span class="notify-badge">Customer</span>
                    </span>
                </div>
                <div class="customer-recipe">
                    <span>
                        <mat-card class="recipe-card">
                            <img mat-card-image
                                src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                                alt="Photo of a Shiba Inu">
                            <mat-card-header>
                                <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                                <mat-card-title>Add the name of the dish</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </span>
                </div>
                <div class="customer-recipe">
                    <span>
                        <mat-card class="recipe-card">
                            <img mat-card-image
                                src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/meatball-lasagne-e64e936.jpg?quality=90&webp=true&resize=500,454"
                                alt="Photo of a Shiba Inu">
                            <mat-card-header>
                                <mat-card-subtitle>Add the type of the cuisine here</mat-card-subtitle>
                                <mat-card-title>Add the name of the dish</mat-card-title>
                            </mat-card-header>
                        </mat-card>
                    </span>
                </div>
            </section>
        </div>
    </div>
    <!--Load More Recipes Button-->
    <div class="show-more-btn-holder">
        <button mat-raised-button color="primary">Load More</button>
    </div>
</div>