<header>
    <div class="mini-navbar-wrap">
        <div class="logo-wrap">
            <p class="logo"><span class="logo">SoftUni Forum</span></p>
        </div>
        <div class="mini-navbar">
            <ul>
                <li>
                    <a href="/auth/login">Login</a>
                </li>
                <li>
                    <a href="/auth/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/themes">Themes</a>
            </li>
            <li>
                <a href="/new-theme">New Theme</a>
            </li>
        </ul>
    </nav>

</header>