<section class="hero-section">
    <img src="https://www.allrecipes.com/thmb/JZwRdjNkpDX_tiwVyMXk9-XJF2w=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/6668617-zucchini-corn-fritters-Doug-4x3-1-ff7a4ff91aac4d909ca6df5960ae1dbe.jpg"
        class="recipe-hero-img" />
    <article class="recipe-info">
        <h1>Banana Pancakes</h1>
        <p>
            Shabby chic humblebrag banh mi bushwick, banjo kale chips
            meggings. Cred selfies sartorial, cloud bread disrupt blue bottle
            seitan. Dreamcatcher tousled bitters, health goth vegan venmo
            whatever street art lyft shabby chic pitchfork beard. Drinking
            vinegar poke tbh, iPhone coloring book polaroid truffaut tousled
            ramps pug trust fund letterpress. Portland four loko austin
            chicharrones bitters single-origin coffee. Leggings letterpress
            occupy pour-over.
        </p>
        <div class="recipe-prep-info">
            <article>
                <span class="material-symbols-outlined">
                    schedule
                </span>
                <h5>Prep Time:</h5>
                <p>30 min.</p>
            </article>
            <article>
                <span class="material-icons-outlined">
                    <span class="material-symbols-outlined">
                        soup_kitchen
                    </span>
                </span>
                <h5>Cook Time:</h5>
                <p>15 min.</p>
            </article>
            <article>
                <span class="material-symbols-outlined">
                    group
                </span>
                <h5>Servings:</h5>
                <p>6</p>
            </article>
        </div>
        <p class="recipe-tags">
            Tags:
            <a mat-button href="/">Desserts</a>
        </p>
    </article>
</section>

<!-- content -->
<section class="recipe-content">
    <!--Recipe Ingredients-->
    <article class="recipe-ingredients-list">
        <div>
            <!--Add recipe ingredients template-->
            <mat-list role="list">
                <h2>Ingredients</h2>
                <mat-list-item role="listitem">1 1/2 cups dry pancake mix</mat-list-item>
                <mat-list-item role="listitem">1/2 cup flax seed meal</mat-list-item>
                <mat-list-item role="listitem">1 cup skim milk</mat-list-item>
            </mat-list>
        </div>
    </article>
    <article class="recipe-instructions">
        <!--Add instructions template-->
        <mat-list class="instructions-list-wrapping">
            <h2>Instructions</h2>
            <mat-list-item lines="3">
                <span class="instruction-num" matListItemTitle>Step 1</span>
                <span class="instruction-description">Secondary line that will wrap because the list lines is
                    explicitly set to 3 lines. Text
                    inside of a `matListItemTitle` or `matListItemLine` will never wrap.
                </span>
            </mat-list-item>
            <mat-list-item lines="3">
                <span class="instruction-num" matListItemTitle>Step 2</span>
                <span class="instruction-description">Secondary line that will wrap because the list lines is
                    explicitly set to 3 lines. Text
                    inside of a `matListItemTitle` or `matListItemLine` will never wrap.
                </span>
            </mat-list-item>
            <mat-list-item lines="3">
                <span class="instruction-num" matListItemTitle>Step 3</span>
                <span class="instruction-description">Secondary line that will wrap because the list lines is
                    explicitly set to 3 lines. Text
                    inside of a `matListItemTitle` or `matListItemLine` will never wrap.
                </span>
            </mat-list-item>
        </mat-list>

    </article>
</section>