p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  max-width: 40em;
}

.recipe-hero {
  display: grid;
  gap: 3rem;
}

.img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.recipe-hero-img {
  border-radius: 0.25rem;
  align-items: center;
  max-width: 100%;
}

.recipe-meta-data {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}

.recipe-meta-data span:first-child {
  border: none;
  padding-left: 0;
  margin-left: 0;
}

.recipe-meta-data span {
  margin-left: 1rem;
  border-left: 1px solid #c5b9a0;
  padding-left: 1rem;
}

.recipe-info h1 {
  font-size: 2.441rem;
  text-align: left;
}

.recipe-info > p {
  border-top: 1px solid #c5b9a0;
  border-bottom: 1px solid #c5b9a0;
  padding: 15px 0;
  font-size: 17px;
  line-height: 26px;
}

.recipe-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin: 2rem 0;
  text-align: left;
  padding-bottom: 2rem;
  border-bottom: 1px solid #c5b9a0;
}

.recipe-icons h5,
.recipe-icons p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 0;
}

.recipe-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
}

.recipe-tags p {
  font-size: 14px;
}

.recipe-tags a {
  font-size: 14px;
  padding: 0.05rem 0.5rem;
  margin: 0 0.25rem;

  text-decoration: none;
}

@media screen and (min-width: 992px) {
  .recipe-hero {
    grid-template-columns: 4fr 5fr;
    align-items: center;
  }
}

.recipe-content {
  padding: 3rem 0;
  display: grid;
  gap: 2rem 5rem;
}

@media screen and (min-width: 992px) {
  .recipe-content {
    grid-template-columns: 1fr 2fr;
  }
}

.recipe-ingredients-list {
  display: grid;
  row-gap: 2rem;
}

.recipe-ingredients-list h4,
.recipe-instructions h4,
.similar-recipes h4 {
  font-size: 1.563rem;
  margin-bottom: 0px;
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  line-height: 1.75;
}

.single-ingredient {
  font-size: 17px;
  line-height: 1.75;
  border-bottom: 1px solid #c5b9a0;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.single-ingredient:first-child {
  border-top: 1px solid #c5b9a0;
}

.ingredients-list {
  list-style: none;
  padding-left: 0;
}

.single-instruction header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
}

.single-instruction header p {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0;
}
.single-instruction > p {
  font-size: 17px;
  line-height: 1.75;
}

.single-instruction header div {
  height: 1px;
  background: #c5b9a0;
}

/* Similar Recipes */

.similar-recipes h4 {
  text-align: center;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  place-content: center;
  overflow-x: none;
  overflow-y: scroll;
  gap: 1rem;
  padding-bottom: 40px;
}

mat-card {
  cursor: pointer;
}

mat-card:hover {
  background: #f5f5f5;
}

mat-card-content {
  padding-top: 20px;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
