<main class="recipe-container">
    <div class="recipe-page">
        <section class="recipe-hero">
            <img src="https://www.allrecipes.com/thmb/HPIOWxXKk8XfWkUDW2llmPrnGOI=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/6668617-zucchini-corn-fritters-Doug-4x3-1-ff7a4ff91aac4d909ca6df5960ae1dbe.jpg"
                class="img recipe-hero-img" />
            <article class="recipe-info">
                <h2>Banana Pancakes</h2>
                <p>
                    Shabby chic humblebrag banh mi bushwick, banjo kale chips
                    meggings. Cred selfies sartorial, cloud bread disrupt blue bottle
                    seitan. Dreamcatcher tousled bitters, health goth vegan venmo
                    whatever street art lyft shabby chic pitchfork beard. Drinking
                    vinegar poke tbh, iPhone coloring book polaroid truffaut tousled
                    ramps pug trust fund letterpress. Portland four loko austin
                    chicharrones bitters single-origin coffee. Leggings letterpress
                    occupy pour-over.
                </p>
                <div class="recipe-icons">
                    <article>
                        <span class="material-symbols-outlined">
                            schedule
                        </span>
                        <h5>Prep Time:</h5>
                        <p>30 min.</p>
                    </article>
                    <article>
                        <span class="material-icons-outlined">
                            <span class="material-symbols-outlined">
                                soup_kitchen
                            </span>
                        </span>
                        <h5>Cook Time:</h5>
                        <p>15 min.</p>
                    </article>
                    <article>
                        <span class="material-symbols-outlined">
                            group
                        </span>
                        <h5>Servings:</h5>
                        <p>6</p>
                    </article>
                </div>
                <p class="recipe-tags">
                    Tags:
                    <a href="tag-template.html">beef</a>
                    <a href="tag-template.html">breakfast</a>
                    <a href="tag-template.html">pancakes</a>
                    <a href="tag-template.html">food</a>
                </p>
            </article>
        </section>
        <!-- content -->
        <section class="recipe-content">
            <article class="recipe-ingredients-list">
                <div>
                    <h4>Ingredients</h4>
                    <ul class="ingredients-list">
                        <li class="single-ingredient">
                            1 1/2 cups dry pancake mix
                        </li>
                        <li class="single-ingredient">
                            1/2 cup flax seed meal
                        </li>
                        <li class="single-ingredient">
                            1 cup skim milk
                        </li>
                    </ul>
                </div>
            </article>
            <article class="recipe-instructions">
                <h4>Instructions</h4>
                <!-- single instruction -->
                <div class="single-instruction">
                    <header>
                        <p>step 1</p>
                        <div></div>
                    </header>
                    <p>
                        I'm baby mustache man braid fingerstache small batch venmo
                        succulents shoreditch.
                    </p>
                </div>
                <!-- end of single instruction -->
                <!-- single instruction -->
                <div class="single-instruction">
                    <header>
                        <p>step 2</p>
                        <div></div>
                    </header>
                    <p>
                        Pabst pitchfork you probably haven't heard of them, asymmetrical
                        seitan tousled succulents wolf banh mi man bun bespoke selfies
                        freegan ethical hexagon.
                    </p>
                </div>
                <!-- end of single instruction -->
                <!-- single instruction -->
                <div class="single-instruction">
                    <header>
                        <p>step 3</p>
                        <div></div>
                    </header>
                    <p>
                        Polaroid iPhone bitters chambray. Cornhole swag kombucha
                        live-edge.
                    </p>
                </div>
                <!-- end of single instruction -->
            </article>
        </section>
        <section class="similar-recipes">
            <h4>Similar Recipes</h4>
            <!--Add dynamic template-->
            <div class="recipes-container">
                <mat-card *ngFor="let tile of tiles" class="recipe-card">
                    <!-- <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Shiba Inu</mat-card-title>
                        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                    </mat-card-header> -->
                    <img mat-card-image
                        src="https://img.jamieoliver.com/jamieoliver/recipe-database/oldImages/large/1462_2_1442315133.jpg?tr=w-800,h-1066"
                        alt="Photo of a Shiba Inu">
                    <mat-card-header>
                        <mat-card-subtitle>
                            Write the type of the cuisine here
                        </mat-card-subtitle>
                        <mat-card-title>
                            Write the name of the dish
                        </mat-card-title>
                        <mat-card-subtitle>
                            10K likes • 13 July 2023
                        </mat-card-subtitle>
                    </mat-card-header>
                    <!-- <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                            bred for hunting.
                        </p>
                    </mat-card-content> -->
                    <mat-card-actions>
                        <span class="material-symbols-outlined">
                            <button class="mdc-icon-button" mat-icon-button aria-label="Icon-button with hearth icon">
                                <mat-icon>favorite</mat-icon>
                            </button>
                        </span>
                    </mat-card-actions>
                </mat-card>
            </div>
        </section>
    </div>
</main>