.page-header {
text-align: center;
margin: 30px;
}

.example-card {
  max-width: 400px;
  width: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

mat-card {
  cursor: pointer;
}

mat-card-content {
  padding-top: 20px;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}

