{{#if error}}
<div id="notifications">
    <p id="notification-message">{{error}}</p>
</div>
{{/if}}
<main>
    <h1>Login Form</h1>
    <div class="form">
        <form method="POST">
            <label for="email-address">Email Address</label>
            <input type="text" id="email-address" name="email-address">

            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>
</main>