body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid darkgrey;
}

thead tr th {
  background-color: darkgrey;
  text-align: left;
  padding-left: 5px;
}

tbody tr th {
  text-align: left;
  font-weight: normal;
  padding-left: 5px;
}

tbody tr:nth-of-type(odd) {
  background-color: rgb(240, 239, 239);
}

tbody tr th {
  border: 1px solid darkgrey;
}

blockquote {
  border-left: solid 3px rgb(221, 221, 221);
}

blockquote p {
  padding-left: 20px;
  font-style: italic;
}

blockquote p:last-of-type {
  text-align: right;
}
