<!-- Browse Page -->
<section id="catalog-section" class="spaced">

  <h1 class="item">Auctions</h1>

  <!-- List of available auctions -->
  <ul class="catalog cards">
    {{#if auctions}}
    {{#each auctions}}
    {{> auctionCard}}
    {{/each}}
    {{else}}
    <!-- If there are no auctions to display -->
    <div class="item pad-large align-center">
      <p>Nothing has been listed yet. Be the first!</p>
      {{#if user}}
      <div>
        <a class="action" href="/auction/publish">Publish Auction</a>
      </div>
      {{/if}}
    </div>
    {{/if}}
  </ul>

</section>