.page-header {
  text-align: center;
  margin-top: 30px;
}

.example-card {
  max-width: 400px;
  width: 100%;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.recipes-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  place-content: center;
  overflow-x: none;
  overflow-y: scroll;
  gap: 1rem;
  padding: 40px 2rem;
}

mat-card {
  cursor: pointer;
}

mat-card-content {
  padding-top: 20px;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1.5rem;
}


