app-header {
  min-height: fit-content;
}

.main-content {
  flex: 1; /* Pushes down the footer */
  width: 90vw;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

app-footer {
  min-height: fit-content;
}
