<mat-toolbar>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button> -->
    <span><img class="recipehub-logo" src="../../../assets/RecipeHub-logotype.png" alt="RecipeHub-logotype"></span>
    <span class="example-spacer"></span>
    <nav>
        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Recipes">Content 1</mat-tab>
            <mat-tab label="Create Recipe">Content 2</mat-tab>
            <mat-tab label="About Us">About Us</mat-tab>
        </mat-tab-group>
    </nav>
    <div class="search-button">
        <span class="material-symbols-outlined">
            <button mat-icon-button aria-label="Icon-button with search icon">
                <mat-icon>search</mat-icon>
            </button>
        </span>
    </div>
    <div class="user-services-button">
        <span class="material-symbols-outlined">
            <button mat-icon-button aria-label="Icon-button with search icon">
                <mat-icon>person</mat-icon>
            </button>
        </span>
    </div>

</mat-toolbar>