<mat-toolbar>
    <span><img class="recipehub-logo" src="../../../assets/RecipeHub-logotype.png" alt="RecipeHub-logotype"></span>
    <span class="nav-spacer"></span>
    <section>
        <div class="nav-button-row">
            <button mat-button>Recipes</button>
            <button mat-button>Create Recipe</button>
            <button mat-button>About Us</button>
        </div>
    </section>
    <div class="search-button">
        <span class="material-symbols-outlined">
            <button mat-icon-button aria-label="Icon-button with search icon">
                <mat-icon>search</mat-icon>
            </button>
        </span>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="User menu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>
            <span>Login</span>
        </button>
        <button mat-menu-item>
            <span>Register</span>
        </button>
    </mat-menu>
</mat-toolbar>