.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding-right: 2rem;
  padding-left: 2rem;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.recipehub-logo {
  height: auto;
  width: 140px;
  vertical-align: middle;
}
