<main>

  <form class="search" action="/search" method="get">
    <input
      type="search"
      name="email"
      value="{{email}}"
      placeholder="Search email..."
    />
    <button type="submit" class="btn-search">
      <img src="/static/img/search-icon.png" alt="search-icon" />
      Search
    </button>
  </form>

  <section id="search-page">

    <h2>Search result:</h2>
    {{#if ads.length}}
      {{#each ads}}
        <!--If there are a search matches, show each ad-->
        <article class="search-page-result">
          <p class="search-page-result-headline">Headline: {{headline}}</p>
          <p class="search-page-result-companyName">Company Name:
            {{companyName}}</p>
        </article>
      {{/each}}
    {{else}}
      <!--If not show:-->
      <article class="search-page-no-result">
        <p class="search-page-no-result-message">No match found.</p>
      </article>
    {{/if}}

  </section>

</main>