<div class="register-form">
    <div class="form-header">
        <h2>Create an account</h2>
        <p>Sign up to save and review your favorite recipes.</p>
    </div>
    <div class="form-field-container">
        <mat-form-field>
            <mat-label>Enter your first name</mat-label>
            <input matInput placeholder="John" [formControl]="firstName" required>
            <mat-error *ngIf="firstName.invalid">{{getErrorMessageFirstName()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-field-container">
        <mat-form-field>
            <mat-label>Enter your last name</mat-label>
            <input matInput placeholder="Doe" [formControl]="lastName" required>
            <mat-error *ngIf="lastName.invalid">{{getErrorMessageLastName()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-field-container">
        <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="john.doe@gmail.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-field-container">
        <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hidePass ? 'password' : 'text'" [formControl]="password" required>
            <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePass">
                <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="form-field-container">
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="hideRePass ? 'password' : 'text'" [formControl]="rePassword" required>
            <mat-error *ngIf="rePassword.invalid">{{getErrorMessageRePassword()}}</mat-error>
            <button mat-icon-button matSuffix (click)="hideRePass = !hideRePass" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideRePass">
                <mat-icon>{{hideRePass ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary">Sign Up</button>
    <br>
    <p>Have an account? <a href="/login">Log In</a></p>
</div>